body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px;
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.container {
    text-align: center;
    padding: 20px;
}

h1 {
    color: blue;
}

.btn {
    background-color: blue;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
}

table {
    width: 50%;
    margin: auto;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: blue;
    color: white;
}

.logo {
    width: 150px;
}